<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheet.css">
  <title>{{this.pageTitle}}</title>
</head>
<body>

  <div class="content"> 
    <div class="hearingHeader"><h3 >Edycja rozpraw zdalnych</h3></div>
    <div class="div-add-hearing"><button id="btnAdd" class="button-add-hearing">Dodaj rozprawę</button></div>
      <table  class="styled-table">
        <thead>
        <tr>
          <th>Data</th><th>Od godz.:</th><th>Do godz:</th><th>Sygnatura</th>
          <th>Sala</th><th>Edycja</th><th>Usuwanie</th>
          <!-- <th>Info</th> -->
        </tr>
        </thead>
        <tbody>
      {{#each hearings}}
          <tr>
            <td>{{this.hearing_date}}</td>
            <td>{{this.time_from}}</td>
            <td>{{this.time_to}}</td>
            <td>{{this.signature}}</td>
            <td>{{this.location}}</td>
            <td><button id="edit_{{this.id}}" class="edit-button">Edytuj</button></td>
            <td><button id="delete_{{this.id}}" class="delete-button">Usuń</button></td>
            <!-- <td><i>i</i></td> -->
          </tr>
      {{/each}}
      </tbody>
      </table>
  </div>

  <dialog id="add-dialog">
    <div> 
      <h3>Dodaj lokalizację:</h3>
      <hr class="greenBreak" >
    <form id="form-dialog-add" method="dialog"> 
      <label for="add-signature" class="blockElement">Sygnatura:</label>
      <input type="text" id="add-signature" name="add-signature" class="blockElement" required><br><br>
      
      <label for="add-location" class="blockElement">Sala:</label>
      <input type="text" id="add-location" name="add-location" class="blockElement" required><br><br>
            
      <label for="add-link" class="blockElement">Link:</label>
      <input type="text" id="add-link" name="add-link" class="blockElement" required><br><br>

      <label for="add-info" class="blockElement" hidden>Dodatkowe informacje:</label>
      <input type="text" id="add-info" name="add-info" class="blockElement" hidden><br><br>

      <label for="add-date">Data:</label>
      <input type="date" id="add-date" name="add-date" required><br><br>

      <label for="add-time-from">Od godz.:</label>
      <input type="time" id="add-time-from" name="add-time-from" required><br><br>

      <label for="add-time-to">Do godz.:</label>
      <input type="time" id="add-time-to" name="add-time-to" required><br><br>

      <button id="dialog-dodaj-button">Dodaj</button>
      <button id="dialog-zamknij-button">Zamknij</button>
    </form>
    </div>
  </dialog>  


  <dialog id="edit-dialog">
    <div> 
      <h3 class="edit-dialog-h3">Edycja rozprawy:</h3>
      <span id="edit-id-label-text"></span>
    <hr class="greenBreak" >
    <form id="form-dialog-edit" method="dialog"> 
      <input id="edit-id" hidden>
      <label for="edit-signature">Sygnatura:</label>
      <input type="text" id="edit-signature" name="edit-signature" required><br><br>
      
      <label for="edit-location">Sala:</label>
      <input type="text" id="edit-location" name="edit-location" required><br><br>
            
      <label for="edit-link">Link:</label>
      <input type="text" id="edit-link" name="edit-link" required><br><br>

      <label for="edit-info" hidden class="non-display">Dodatkowe informacje:</label>
      <input type="text" id="edit-info" name="edit-info" hidden class="non-display"><br><br>

      <label for="edit-date">Data:</label>
      <input type="date" id="edit-date" name="edit-date" required><br><br>

      <label for="edit-time-from">Od godz.:</label>
      <input type="time" id="edit-time-from" name="edit-time-from" required><br><br>

      <label for="edit-time-to">Do godz.:</label>
      <input type="time" id="edit-time-to" name="edit-time-to" required><br><br>

      <button id="dialog-edit-button-save">Zapisz</button>
      <button id="dialog-edit-button-close">Zamknij</button>
    </form>
    </div>
  </dialog>  

  
  <dialog id="delete-dialog">
    <div> 
      <input id="dialog-delete-id-to-delete" hidden>
      <h1>Czy na pewno usunąć?</h1>
      <h3>"TAK" spowoduje usunięcie rozprawy"<span id="signature-span"></span> z dnia <span id="date-span"></span></h3>
      <button id="dialog-delete-button-yes">TAK</button>
      <button id="dialog-delete-button-no">NIE</button>
    </div>
  </dialog> 

  <script>
  const dlgAdd = document.getElementById('add-dialog');
  const dlgEdit = document.getElementById('edit-dialog');
  const dlgDelete = document.getElementById('delete-dialog');

    const btnAdd = document.getElementById('btnAdd');

    const dlgAddButton = document.getElementById('dialog-dodaj-button');
    const dlgCloseButton = document.getElementById('dialog-zamknij-button');
    const dlgEditButtonSave = document.getElementById('dialog-edit-button-save');
    const dlgEditButtonClose = document.getElementById('dialog-edit-button-close');
    const dlgDeleteButtonYes = document.getElementById('dialog-delete-button-yes');
    const dlgDeleteButtonNo = document.getElementById('dialog-delete-button-no');

    btnAdd.addEventListener('click', () => {
      dlgAdd.showModal();
    });

    dlgCloseButton.addEventListener('click', () => {
      dlgAdd.close();
    });

    dlgEditButtonClose.addEventListener('click', () => {
      dlgEdit.close();
    });

    dlgDeleteButtonNo.addEventListener('click', () => {
      dlgDelete.close();
    });

    dlgAddButton.addEventListener('click', () => {
      const data = {
        signature: document.getElementById('add-signature').value,
        location: document.getElementById('add-location').value,
        link: document.getElementById('add-link').value,
        info: document.getElementById('add-info').value,
        hearing_date: document.getElementById('add-date').value,
        time_from: document.getElementById('add-time-from').value,
        time_to: document.getElementById('add-time-to').value
      };

      //const paragraph = document.getElementById('paragraph');
      //paragraph.innerText = 'sssssssssssssssssssssss'; 

      const tekst = `sygnatura: ${data.signature}, 
      sala: ${data.location},
      link: ${data.link},
      hearing_date: ${data.hearing_date},
      time_from: ${data.time_from},
      time_to: ${data.time_to}, 
      info: ${data.info}`;
      alert(tekst);

      // Send a POST request to the server
      fetch('/add-hearing', {
        method: 'POST',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => {
          if (response.ok) {
            // The request was successful
            console.log('New hearing added successfully!');
            window.location.href = 'get-hearings'; 
          } else {
            // The request failed
            console.log('Error adding new hearing');
          }
        })
        .catch(error => {
          console.log('Error:', error);
        });
        
        dlgAdd.close();
      
      });
//////////////////////////////////////////////////////////
    dlgEditButtonSave.addEventListener('click', () => {
      const data = {
        id: document.getElementById('edit-id').value,
        signature: document.getElementById('edit-signature').value,
        location: document.getElementById('edit-location').value,
        link: document.getElementById('edit-link').value,
        info: document.getElementById('edit-info').value,
        hearing_date: document.getElementById('edit-date').value,
        time_from: document.getElementById('edit-time-from').value,
        time_to: document.getElementById('edit-time-to').value  
      };

      const tekst = `
      id: ${data.id},
      sygnatura: ${data.signature}, 
      sala: ${data.location},
      link: ${data.link},
      hearing_date: ${data.hearing_date},
      time_from: ${data.time_from},
      time_to: ${data.time_to}, 
      info: ${data.info}`;
      alert(tekst);


      // Send a POST request to the server
      fetch('/change-hearing', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
        .then(response => {
          if (response.ok) {
            // The request was successful
            console.log('Hearing data changed successfully!');
            window.location.href = 'get-hearings'; 
          } else {
            // The request failed
            console.log('Error changing hearing data');
          }
        })
        .catch(error => {
          console.log('Error:', error);
        });
      
      dlgEdit.close();
    });

  </script>
  <script> ///////////////////////////////////////////////////////
    // Select all buttons with the class "edit-button"
const editButtons = document.querySelectorAll('.edit-button');

// Add event listener to each button
editButtons.forEach(button => {
  button.addEventListener('click', function() {
    const buttonId = button.id;
    const id = buttonId.split('_')[1]; 


    console.log('Edit button clicked with ID:', id);


    fetch(`/get-hearings/${id}`)
      .then(response => response.json())
      .then(data => {
        document.getElementById('edit-id-label-text').textContent = `id = ${data[0].id}`;
        document.getElementById('edit-id').value = data[0].id;
        document.getElementById('edit-signature').value = data[0].signature;
        document.getElementById('edit-location').value = data[0].location;
        document.getElementById('edit-link').value = data[0].link;
        document.getElementById('edit-info').value = data[0].info;
        document.getElementById('edit-date').value = data[0].hearing_date;
        document.getElementById('edit-time-from').value = data[0].time_from;
        document.getElementById('edit-time-to').value = data[0].time_to;
      })
      dlgEdit.showModal();
      });
});
</script>

<script>
//////////////////////////////////////////////////////////////////////

    // Select all buttons with the class "delete-button"
const deleteButtons = document.querySelectorAll('.delete-button');

// Add event listener to each button
deleteButtons.forEach(button => {
  button.addEventListener('click', function() {

    const buttonId = button.id;
    const id = buttonId.split('_')[1]; 

    fetch(`/get-hearings/${id}`)
      .then(response => response.json())
      .then(data => {
        document.getElementById('signature-span').innerText = data[0].signature;
        document.getElementById('date-span').innerText = data[0].hearing_date;
        document.getElementById('dialog-delete-id-to-delete').value = data[0].id;
      })

    dlgDelete.showModal();

      });
      
  });

  dlgDeleteButtonYes.addEventListener('click', () => {
      const data = {
        id: document.getElementById('dialog-delete-id-to-delete').value
      };

// Send a POST request to the server
  fetch('/delete-hearing', {
    method: 'POST',
    headers: {
    'Content-Type': 'application/json'
  },
    body: JSON.stringify(data)
  })
  .then(response => {
    if (response.ok) {
      console.log('Hearing data has been deleted successfully!');
      window.location.href = '/get-hearings'; 
    } else {
      console.log('Error delete hearing data');
    }
  })
  .catch(error => {
    console.log('Error:', error);
  });
      dlgEdit.close();
});

</script>
</body>
</html>