<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheet.css">
  <title>{{this.pageTitle}}</title>
</head>
<body>
  <div> 
    <div class="hearingHeader"><h3 >Rozprawy zdalne:</h3></div>
      <table  class="styled-table">
        <thead>
        <tr>
          <th>Data</th><th>Godzina</th><th>Sygnatura</th><th>Sala</th>
        </tr>
        </thead>
        <tbody>
      {{#each hearings}}
          <tr>
            <td><a href={{{this.link}}} target="_blank">{{this.hearing_date}}</a></td>
            <td><a href={{{this.link}}} target="_blank">{{this.time_from}}</a></td>
            <td><a href={{{this.link}}} target="_blank">{{this.signature}}</a></td>
            <td><a href={{{this.link}}} target="_blank">{{this.location}}</a></td>
          </tr>
      {{/each}}
      </tbody>
      </table>
  </div>
</body>
</html>