<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{this.pageTitle}}</title>
</head>
<body>
  <div> 
    <h3>Rozprawy:</h3>

      {{#each hearings}}
        <div><a href={{{this.link}}} target="_blank">{{this.hearing_date}} godz. {{this.time_from}} {{this.signature}} sala: {{this.location}} </a>
          do godz.: {{this.time_to}} dodatkowa informacja: {{this.info}}
        </div>
      {{/each}}
    </ul>
  </div>
</body>
</html>